<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plant Identifier</title>
    <link rel="stylesheet" href="1st.css">
</head>

<body>
    <section id="main">
        <header class="header">
            <!-- left box for logo -->
            <div class="left">
                <img src="img/gym-clipart-gym-logo-7.jpg" alt="">
                <div style="color: white;">WHATISTHEPLANT</div>
            </div>

            <!-- Mid box for navbar -->
            <div class="mid">
                <ul class="navbar">
                    <li><a href="#" class="active">Home</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>
            </div>
            <div class="right">
                <button class="btn"  onclick="location.href='index1.html'">Get Started</button>
            </div>

        </header>
        <section id="two">
            <h1>PLANT IDENTIFIER</h1>
            <h1>WHATISTHEPLANT</h1>
            <h3>Upload a picture and tell you what is the plant, tree, flower</h3>
        </section>
    </section>
    <section id="one">
        <section>
            <h1>Identify, explore and share your observations of wild plants</h1>
            <p ALIGN=CENTER>Patrick... is a tool to help to identify plants with pictures. It is organized in different
                thematic and geographical floras. Choose the one that corresponds to your region or area of interest
                from the list below. If you don't know what to choose, select "World flora" which has the widest
                coverage but will give less accurate results than a more focused flora.</p>
        </section>
        <section>
            <img src="1.jpg" alt="">
        </section>
    </section>
    <div class="centre">
        <h1>Our Reliable Services</h1>
        <h3>Based on the AI technololgy, Whatistheplant is the most
            accurate plant identification tool you ever meet</h3>
    </div>
    <section id="three">
        <section id="three1">
            <img src="5.jpg" alt="">
        </section>
        <section id="three2">
            <section id="three21" class="padd">
                <div>
                    <img src="a.png" alt="">
                </div>
                <div>
                    <h1>Available 24/7</h1>
                    <h3>Just drop the plant picture and our services are always ready for the plant identification.</h3>
                </div>
            </section>
            <section id="three22" class="padd">
                <div>
                    <img src="b.png" alt="">
                </div>
                <div>
                    <h1>Creative results</h1>
                    <h3>Whatistheplant will analyze the plant picture and return several possible results with their
                        scores.</h3>
                </div>
            </section>
            <section id="three23" class="padd">
                <div>
                    <img src="c.png" alt="">
                </div>
                <div>
                    <h1>Fast and free</h1>
                    <h3>The analyzing and recognizing process is fast and you will get your answer within a few seconds.
                    </h3>
                </div>
            </section>
        </section>
    </section>
</body>

</html>